<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body>
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles">Salas</h1>
			</div>
		</div>
		<div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <form action="/grupoAsig" method="POST">
                        <div class="form-group label-floating">
                            <label class="control-label">Nombre</label>
                            <input class="form-control" type="text" >
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Descricion</label>
                            <input class="form-control" type="text" >
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Piso</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Camas</label>
                            <input class="form-control" type="text" >
                        </div>
                        <p class="text-center">
                            <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                            <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                        </p>
                    </form>
                    <div class="table-responsive">
						<div class="table-responsive">
                            <div class="table-wrapper">
                                <table class="fl-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Descripcion</th>
                                            <th>Piso</th>
                                            <th>Camas</th>
                                            <th>Modificar</th>
                                            <th>Dar de Baja</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Sala 1</td>
                                            <td>Pediatria</td>
                                            <td>Piso 4</td>
                                            <td>10</td>
                                            <td><a href="#!" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
                                            <td><a href="#!" class="btn btn-danger btn-raised btn-xs"><i class="zmdi zmdi-delete"></i></a></td>
                                        </tr>
                                    <tbody>
                                </table>
                            </div>
                            <ul class="pagination pagination-sm">
                                <li class="disabled"><a href="#!">«</a></li>
                                  <li class="active"><a href="#!">1</a></li>
                                <li><a href="#!">2</a></li>
                                <li><a href="#!">3</a></li>
                                <li><a href="#!">4</a></li>
                                <li><a href="#!">5</a></li>
                                <li><a href="#!">»</a></li>
                            </ul>
                        </div>
                        <p class="text-center">
                            <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir </button>
                        </p>
	                </div>
                </div>
            </div>
        </div>
	</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>