<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body>
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-search"><i class="zmdi zmdi-search"></i></a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles"><i class="zmdi zmdi zmdi-accounts zmdi-hc-fw"></i> Usuarios </h1>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" style="margin-bottom: 15px;">
						<li class="active"><a href="#new" data-toggle="tab">Nuevo</a></li>							  <li><a href="#list" data-toggle="tab">Lista</a></li>
					</ul>
					<!-- Nuevo Medicamento -->
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade active in" id="new">
							<div class="container-fluid">
								<div class="row">
									<div class="col-xs-12 col-md-10 col-md-offset-1">
										<form action="">
											<div class="form-group label-floating">
												<label class="control-label">Usuario</label>
												<input class="form-control" type="text">
											</div>
											<div class="form-group label-floating">
												<label class="control-label">Nombre</label>
												<input class="form-control" type="text">
											</div>
											<div class="form-group label-floating">
												<label class="control-label">Apellidos</label>
												<input class="form-control" type="text">
											</div>
											<div class="form-group label-floating">
												<label class="control-label">C.I.</label>
												<input class="form-control" type="text">
											</div>
											<div class="form-group label-floating">
												<label class="control-label">Direccion</label>
												<input class="form-control" type="text">
											</div>
											<div class="form-group label-floating">
												<label class="control-label">Telefono</label>
												<input class="form-control" type="text">
											</div>
											<div class="form-group label-floating">
												<label class="control-label">Cargo</label>
												<input class="form-control" type="text">
											</div>
											<div class="form-group">
												<label class="control-label">Tipo de Usuario</label>
												<select class="form-control">
													<option>Medico</option>
													<option>Enfermera</option>
													<option>Interno</option>
													<option>Farmaceutico</option>
													<option>Fichero</option>
												</select>
											</div>
											<p class="text-center">
												<button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
												<button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
											</p>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- Tabla Usuarios-->
						<div class="tab-pane fade" id="list">
							<div class="table-responsive">
								<div class="table-wrapper">
									<table class="fl-table">
										<thead>
											<tr>
												<th>#</th>
												<th>Usuario</th>
												<th>Nombre</th>
												<th>Apellidos</th>
												<th>C.I.</th>
												<th>Direccion</th>
												<th>Telefono</th>
												<th>Cargo</th>
												<th>Tipo de Usuario</th>
												<th>Modificar</th>
												<th>Dar de Baja</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>Luis</td>
												<td>Choque</td>
												<td>Mamani C.</td>
												<td>12345678</td>
												<td>Calle La Paz # 1</td>
												<td>9874561</td>
												<td>Estudiante</td>
												<td>Medico</td>
												<td><a href="#!" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
												<td><a href="#!" class="btn btn-danger btn-raised btn-xs"><i class="zmdi zmdi-delete"></i></a></td>
											</tr>
										<tbody>
									</table>
								</div>
								<ul class="pagination pagination-sm">
									<li class="disabled"><a href="#!">«</a></li>
								  	<li class="active"><a href="#!">1</a></li>
									<li><a href="#!">2</a></li>
									<li><a href="#!">3</a></li>
									<li><a href="#!">4</a></li>
									<li><a href="#!">5</a></li>
									<li><a href="#!">»</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>