<!--Menu arreglado-->
<div class="header_bar">
  <!--\\\\\\\ header Start \\\\\\-->
  <div class="brand">
    <!--\\\\\\\ brand Start \\\\\\-->
    <div class="logo" style="display:block"><span class="theme_color">HOSPITAL</div>
    <div class="small_logo" style="display:none"><img src="images/s-logo.png" width="50" height="47" alt="s-logo" /> <img src="images/r-logo.png" width="122" height="20" alt="r-logo" /></div>
  </div>
  <!--\\\\\\\ brand end \\\\\\-->
  <div class="header_top_bar">
    <!--\\\\\\\ header top bar start \\\\\\-->
    <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
    <div class="top_left">
      <div class="top_left_menu">
        <ul>
          <li> <a href="javascript:void(0);"> <i class="fa fa-repeat"></i> </a> </li>
          <li> <a href="javascript:void(0);"> <i class="fa fa-th-large"></i> </a> </li>
        </ul>
      </div>
    </div>
    <div class="top_right_bar">
      
      <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="images/user.png" /><span class="user_adminname">John Doe</span> <b class="caret"></b> </a>
        <ul class="dropdown-menu">
          <div class="top_pointer"></div>
          <li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
          <li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
          <li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
          <li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
        </ul>
      </div>
      <a href="javascript:;" class="toggle-menu menu-right push-body jPushMenuBtn rightbar-switch"><i class="fa fa-comment chat"></i></a>
    </div>
  </div>
  <!--\\\\\\\ header top bar end \\\\\\-->
</div>
<!--\\\\\\\ header end \\\\\\-->
<div class="inner">
  <!--\\\\\\\ inner start \\\\\\-->
  <div class="left_nav">
    <!--\\\\\\\left_nav start \\\\\\-->
    <div class="search_bar"> <i class="fa fa-search"></i>
      <input name="" type="text" class="search" placeholder="Search Dashboard..." />
    </div>
    <div class="left_nav_slidebar">
      <ul>
        <li class="left_nav_active theme_border"><a href="/home""><i class="fa fa-home"></i> HOME <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a></li>
        <li> <a href="javascript:void(0);"> <i class="fa fa-hospital-o"></i> ALMACEN <span class="plus"><i class="fa fa-plus"></i></span></a>
          <ul>
            <li> <a href="/grupoAsig"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Grupo de Asignacion</b> </a> </li>
            <li> <a href="/dataGrupoA"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Medicamentos</b> </a> </li>
            <li> <a href="/proveedores"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Proovedores</b> </a> </li>
            <li> <a href="grid.html"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Pedidos</b> </a> </li>
            <li> <a href="alert.html"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Distribucion</b> </a> </li>
            <li> <a href="tabs.html"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Stock</b> </a> </li>
          </ul>
        </li>
        <li> <a href="javascript:void(0);"> <i class="fa fa-file-text-o"></i> REPORTES <span class="plus"><i class="fa fa-plus"></i></span></a>
          <ul>
            <li> <a href="components.html"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Pedidos</b> </a> </li>
            <li> <a href="validation.html"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Salidas</b> </a> </li>
            <li> <a href="multi-upload.html"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Kardex Valorizados</b> </a> </li>
            <li> <a href="other-forms.html"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Medicamentos Venc.</b> </a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  
  







    