<section class="full-box cover dashboard-sideBar">
    <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
    <div class="full-box dashboard-sideBar-ct">
    <!--SideBar Title -->
    <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title"> Hospital<i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i></div>
    <!-- SideBar User info -->
    <div class="full-box dashboard-sideBar-UserInfo">
        <figure class="full-box">
            <img src="./assets/img/user01.png" alt="UserIcon">
            <figcaption class="text-center text-titles">User Name</figcaption>
        </figure>
        <ul class="full-box list-unstyled text-center">
            <li>
                <a href="#!"><i class="zmdi zmdi-settings"></i></a>
            </li>
            <li>
                <a href="#!" class="btn-exit-system"><i class="zmdi zmdi-power"></i></a>
            </li>
            </ul>
    </div>
    <!-- SideBar Menu Hospital-->
    <ul class="list-unstyled full-box dashboard-sideBar-Menu">
    <!-- Administracion del Sistema -->
    <li>
        <a href="#!" class="btn-sideBar-SubMenu">
            <i class="zmdi zmdi-account zmdi-hc-fw"></i> Administracion del Sistema <i class="zmdi zmdi-caret-down pull-right"></i>
        </a>
        <ul class="list-unstyled full-box">
            <li><a href="/usuarios"><i class="zmdi zmdi zmdi-accounts zmdi-hc-fw"></i>Usuarios</a></li>
            <li><a href="/cuadernos"><i class="zmdi zmdi-border-color zmdi-hc-fw"></i> Registros</a></li>
        </ul>
    </li>
    <!-- Historiales Clinicos -->	
    <li>
        <a href="#!" class="btn-sideBar-SubMenu">
            <i class="zmdi zmdi-file-plus zmdi-hc-fw"></i> Historiales Clinicos <i class="zmdi zmdi-caret-down pull-right"></i>
        </a>
        <ul class="list-unstyled full-box">
            <li><a href="expediente"><i class="zmdi zmdi-accounts-add zmdi-hc-fw"></i> Expediente Clinico</a></li>
        </ul>
    </li>	
    <!-- Consultas -->	
    <li>
        <a href="#!" class="btn-sideBar-SubMenu">
            <i class="zmdi zmdi-hospital zmdi-hc-fw"></i> Consultas <i class="zmdi zmdi-caret-down pull-right"></i>
        </a>
        <ul class="list-unstyled full-box">
            <li><a href="/RegistroAlmacen"><i class="zmdi  zmdi-edit  zmdi-hc-fw"></i> Almacenamiento</a></li>
            <li><a href="/GrupoAsig"><i class="zmdi zmdi-dns zmdi-hc-fw"></i>Grupos de Asignacion</a></li>
            <li><a href="/Almacenes"><i class="zmdi  zmdi-home  zmdi-hc-fw"></i> Almacenes</a></li>
            <li><a href="subject.html"><i class="zmdi zmdi-chart zmdi-hc-fw"></i> Control de Stock</a></li>
            <li><a href="regins.ejs"><i class="zmdi zmdi-widgets zmdi-hc-fw"></i> Distribucion </a></li>
            <li><a href="regins.ejs"><i class="zmdi zmdi-file-plus zmdi-hc-fw"></i> Reportes </a></li>
        </ul>
    </li>
    <!-- Hospitalizacion -->
    <li>
        <a href="#!" class="btn-sideBar-SubMenu">
            <i class="zmdi zmdi-hotel zmdi-hc-fw"></i> Hospitalizacion <i class="zmdi zmdi-caret-down pull-right"></i>
        </a>
        <ul class="list-unstyled full-box">
            <li><a href="/salas"><i class="zmdi zmdi-file zmdi-hc-fw"></i> Salas</a></li>
            <li><a href="/proveedores"><i class="zmdi zmdi-male-female zmdi-hc-fw"></i> Camas</a></li>
            <li><a href="school.html"><i class="zmdi zmdi-file-plus zmdi-hc-fw"></i> Seguimieto de Pacientes</a></li>
        </ul>
    </li>
    <!-- Emergencias -->
    <li>
        <a href="#!" class="btn-sideBar-SubMenu">
            <i class="zmdi zmdi-hospital-alt zmdi-hc-fw"></i> Emergencias <i class="zmdi zmdi-caret-down pull-right"></i>
        </a>
        <ul class="list-unstyled full-box">
            <li><a href="school.html"><i class="zmdi zmdi-file zmdi-hc-fw"></i> Solicitud de Pedidos</a></li>
            <li><a href="/proveedores"><i class="zmdi zmdi-male-female zmdi-hc-fw"></i> Provedores</a></li>
            <li><a href="school.html"><i class="zmdi zmdi-file-plus zmdi-hc-fw"></i> Reportes</a></li>
        </ul>
    </li>
    <!-- Farmacia -->
    <li>
        <a href="#!" class="btn-sideBar-SubMenu">
            <i class="zmdi zmdi-shopping-cart-plus zmdi-hc-fw"></i> Farmacia <i class="zmdi zmdi-caret-down pull-right"></i>
        </a>
        <ul class="list-unstyled full-box">
            <li><a href="school.html"><i class="zmdi zmdi-file zmdi-hc-fw"></i>Almacen</a></li>
            <li><a href="/proveedores"><i class="zmdi zmdi-male-female zmdi-hc-fw"></i>Ventas</a></li>
            <li><a href="school.html"><i class="zmdi zmdi-file-plus zmdi-hc-fw"></i> Inventario</a></li>
        </ul>
    </li>
    <!-- Reportes -->
    <li>
        <a href="#!" class="btn-sideBar-SubMenu">
            <i class="zmdi  zmdi-chart zmdi-hc-fw"></i> Reportes <i class="zmdi zmdi-caret-down pull-right"></i>
        </a>
        <ul class="list-unstyled full-box">
            <li><a href="school.html"><i class="zmdi zmdi-file zmdi-hc-fw"></i> Solicitud de Pedidos</a></li>
            <li><a href="/proveedores"><i class="zmdi zmdi-male-female zmdi-hc-fw"></i> Provedores</a></li>
            <li><a href="school.html"><i class="zmdi zmdi-file-plus zmdi-hc-fw"></i> Reportes</a></li>
        </ul>
    </li>
    </ul>
    </div>
</section>